<%- include('./partials/head.ejs') %>
<div class="bgcolor">
    <%- include('./partials/nav.ejs') %>
    <div class="hero d-flex justify-content-center align-items-center text-white">
        <div class="d-flex gap-5">
            <div class="d-flex flex-column justify-content-center me-5" style="width: 400px;">
                <h1>About Me</h1>
                <p>I am passionate about Web Development, and have dedicated myself to learning and growing in this field. Through my work, I have developed skills in different programming languages such as NodeJs and ReactJS, and have had the opportunity to collaborate with KodeGo Bootcamp.</p>
                <p>I believe in my technical skills, and strive to make a positive impact through my work. In my free time, I enjoy puzzles and multiplayer video games, and am always looking for new ways to challenge myself and expand my horizons.</p>
            </div>
            <div class="d-flex gap-3">
                <div style="width: 250px; height: 350px; overflow: hidden; text-align: center; margin:0 auto;">
                    <img class="h-100" style="margin:0 -100%;" src="/img/me.jpg" alt="" srcset="">
                </div>
                <div>
                    <div class="d-flex flex-column align-items-end mb-5" style="width: 250px;">
                        <h5>Kenneth Tan</h5>
                        <span>Full-stack Web Developer</span>
                    </div>
                    <div style="width: 250px; height: 350px; overflow: hidden; text-align: center; margin:0 auto;">
                        <img class="h-100" style="margin:0 -100%;" src="/img/code.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="technologies"></div>
    <div class="parallax1">
        <div style="height: 90px;"></div>
        <div class="container d-flex flex-wrap align-items-center text-white">
            <div class="d-flex justify-content-center flex-wrap w-50">
                <div class="d-flex flex-column justify-content-center align-items-center col-6">
                    <img data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    src="/img/html.png" alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">HTML</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-6">
                    <img data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    src="/img/css.png" alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">CSS</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-12">
                    <img src="/img/JavaScript.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">Javascript</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-6">
                    <img src="/img/bootstrap.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">Bootstrap</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-6">
                    <img src="/img/php.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">PHP</p>
                </div>
            </div>
            <div class="d-flex justify-content-center flex-wrap w-50">
                <div class="d-flex flex-column justify-content-center align-items-center col-6">
                    <img src="/img/nodejs.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">Node JS</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-6">
                    <img src="/img/expressjs.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">Express JS</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-12">
                    <img src="/img/mysql.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">MySql</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-6">
                    <img src="/img/mongodb.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">Mongo DB</p>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-6">
                    <img src="/img/react.png" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"
                    alt="" style="width: 150px; height: 150px;">
                    <p class="text-center fs-4 mt-1">React JS</p>
                </div>
            </div>
        </div>
    </div>
    <div id="projects"></div>
    <div class="project">
        <div class="container d-flex justify-content-center align-items-center text-white h-100">
            <div class="d-flex flex-column col-6">
                <div class="d-flex gap-5 pb-5 mb-5 w-100" data-aos="zoom-out-right">
                    <a target="_blank" href="https://cliniclass.vercel.app/">
                        <div class="pjcontainer" style="width: 300px; height: 180px; position: relative;">
                            <img class="h-100 w-100 d-block img-thumbnail" src="/img/cliniclass.png" alt="">
                            <div class="overlay">Cliniclass</div>
                        </div>
                    </a>
                    <div style="width: 270px;">
                        <a target="_blank" href="https://cliniclass.vercel.app/">Mini Project 1: Cliniclass</a>
                        <p>A responsive and static website of clinic management system that designed to manage the day-to-day operations of a healthcare clinic. The website typically includes a suite of tools and features that allow clinic staff to manage patient information and medical records.</p>
                    </div>
                </div>
                <div class="d-flex gap-5 mt-5 w-100" data-aos="zoom-out-right">
                    <a target="_blank" href="https://kodegram.devph.space/">
                        <div class="pjcontainer" style="width: 300px; height: 180px; position: relative;">
                            <img class="h-100 w-100 d-block img-thumbnail" src="/img/kodegram.png" alt="">
                            <div class="overlay">Kodegram</div>
                        </div>
                    </a>
                    <div style="width: 270px;">
                        <a target="_blank" href="https://kodegram.devph.space/">Capstone: Kodegram</a>
                        <p>Kodegram is built with MERN stack and a social media app that allows users to interact, share content, and communicate with other users. This website provides tools and features such as profiles, news feeds, messaging, commenting, liking, posting and following.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-row-reverse gap-5 w-100" data-aos="zoom-out-left">
                    <a target="_blank" href="https://supersell.cyclic.app/">
                        <div class="pjcontainer" style="width: 300px; height: 180px; position: relative;">
                            <img class="h-100 w-100 d-block img-thumbnail" src="/img/supersell.png" alt="">
                            <div class="overlay">Supersell</div>
                        </div>
                    </a>
                    <div style="width: 270px;">
                        <a target="_blank" href="https://supersell.cyclic.app/">Mini Project 2: Supersell</a>
                        <p>Supersell is a buy and sell website application that allows individuals or businesses to buy and sell products or services. The website was built with NodeJs, Embedded JavaScript Templating and MongoDb.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div id="work"></div>
    <div class="work d-flex justify-content-center align-items-center text-white">
        <div class="container d-flex justify-content-center align-items-center gap-5">
            <div class="col-3">
                <div id="list-example" class="d-flex flex-column align-items-center">
                    <a class="list-group-item list-group-item-action fs-4 fstyle text-center" href="#list-item-1">
                        Kodego Bootcamp
                        <span class="smalltxt d-block">Dec 2022 - Mar 2023</span>
                    </a>
                    <span class="fs-1">•</span>
                    <a class="list-group-item list-group-item-action fs-4 fstyle text-center" href="#list-item-2">
                        Lee Systems Technology Ventures Inc. (Trainee)
                        <span class="smalltxt d-block">Oct - Nov 2018</span>
                    </a>
                    <span class="fs-1">•</span>
                    <a class="list-group-item list-group-item-action fs-4 fstyle text-center" href="#list-item-3">
                        Technological University of the Philippines (BSIT)
                        <span class="smalltxt d-block">Jun 2014 - Mar 2018</span>
                    </a>
                    <span class="fs-1">•</span>
                    <a class="list-group-item list-group-item-action fs-4 fstyle text-center" href="#list-item-4">
                        Incuventure Partners Corporation Internship
                        <span class="smalltxt d-block">Jun - Nov 2017</span>
                    </a>
                </div>
            </div>
            <div class="col-8">
                <div id="style-2" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0" style="height: 450px; overflow-y: scroll;">
                    <div class="pb-5" id="list-item-1">
                        <h4 class="mytitle">KodeGo Bootcamp</h4>
                        <p class="fs-5">KodeGo is a coding bootcamp based in Manila, Philippines that offers a 12-weeks, live online full-stack web development program. KodeGo's goal is to help aspiring web developers including absolute beginners learn web development at an accelerated pace and help them move into in-demand tech roles across software-dependent industries.</p>
                        <p class="fs-5">As KodeGo student, I learned the essentials of web development and have a solid proficiency in both front-end and back-end technologies. During our bootcamp i led three different teams for our projects, and as a leader i provided support, assigned specific tasks, set a time limit for each task and compiled our resources and codes that led to the success of our project making.</p>
                        <p class="fs-5">The pace of the program prepared by Kodego was pretty fast but i was able to keep up with it since i always tried to finish every task on time. We studied different programming languages and frameworks such as NodeJs and ReactJs. Since i was a leader in our previous projects, i also learned a lot about team work and how it is important in the workplace.</p>
                    </div>
                    <div class="pb-5" id="list-item-2">
                        <h4 class="mytitle">Lee Systems Technology Ventures Inc. (Trainee)</h4>
                        <p class="fs-5">Lee Systems Technology Ventures is an I.T. company located in Caloocan. The company is simplifying software solutions that focus mainly on HR processes, accounting, payroll and timekeeping. I was a PHP developer trainee there for one month and I learned a lot during the training because they were also teaching me other programming languages and libraries such as javascript, jquery, ajax, json, and sql.</p>
                        <p class="fs-5">I was given a lot of tasks where i needed to execute all of the built-in functions and create a simple application with sql database. On my last week of training i was assigned to the main developer team and tasked to generate pdf reports of their website using PHP.</p>
                        <ul class="navbar-nav flex-row gap-5">
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#lee1modal">
                                <img class="img-thumbnail" src="/img/lee1.jpg" style="width: 150px; height: 200px;" alt="">
                            </li>
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#lee2modal">
                                <img class="img-thumbnail" src="/img/lee2.jpg"style="width: 150px; height: 200px;" alt="">
                            </li>
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#lee3modal">
                                <img class="img-thumbnail" src="/img/lee3.jpg"style="width: 150px; height: 200px;" alt="">
                            </li>
                        </ul>
                        
                    </div>
                    <div class="pb-5" id="list-item-3">
                        <h4 class="mytitle">Technological University of the Philippines</h4>
                        <p class="fs-5">The Technological University of the Philippines commonly known as TUP, is a coeducational state university in the Philippines. With more than a hundred years of existence since its establishment, TUP has indeed transformed its "trade school" image into a dynamic premier state university in the fields of industrial, technological and engineering education. Its mark of excellence is not only known locally but also internationally.</p>
                        <p class="fs-5">I graduated on this university with bachelor's degree in information technology in 2018. When i was in college i found out that i am really passionate about programming and it motivated me to stay on this course. During my years of study, i was often assigned as a leader in different programming projects where i learned a lot and improved my communication skill as well. For my thesis, my group created a School Supplies Vendo, a coin operated embedded system for dispensing school supplies where we used various equipments such as arduino, raspberry pi, servo motors, coin acceptor, stepper motors and tft lcd touch screen.</p>
                        <ul class="navbar-nav flex-row gap-5 mb-4">
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#thesis1modal">
                                <img class="img-thumbnail" src="/img/thesis1.png" style="width: 300px; height: 200px;" alt="">
                            </li>
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#thesis2modal">
                                <img class="img-thumbnail" src="/img/thesis2.jpg"style="width: 150px; height: 200px;" alt="">
                            </li>
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#thesis3modal">
                                <img class="img-thumbnail" src="/img/thesis3.jpg"style="width: 300px; height: 200px;" alt="">
                            </li>
                        </ul>
                    </div>
                    <div id="list-item-4">
                        <h4 class="mytitle">Incuventure Partners Corporation Internship</h4>
                        <p class="fs-5">Incuventure is an information technology ("IT"​) solutions provider offering a full range of services, including e-Business consulting, application design and development, and system integration. Its combination of industry experience, IT expertise, business acumen, and total commitment to customer satisfaction puts their company in the perfect position to deliver the best-of-class solutions to its clients.</p>
                        <p class="fs-5">I was an intern here before where i was assigned in main branch located in Quezon city and tasked to develop a timekeeping system using java. And on my last month i was reassigned in their partner's branch in Makati, MediCard, where i was tasked to give support to their developer team. We were creating a Management information systems, It is a website that is used to manage the patients, the appointments, the doctors' schedules, prescriptions, manage inventory, etc. </p>
                        <ul class="navbar-nav flex-row gap-3 mb-4">
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#ojt1modal">
                                <img class="img-thumbnail" src="/img/ojt1.png" style="width: 300px; height: 200px;" alt="">
                            </li>
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#ojt2modal">
                                <img class="img-thumbnail" src="/img/ojt2.jpg"style="width: 300px; height: 200px;" alt="">
                            </li>
                            <li class="nav-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#ojt3modal">
                                <img class="img-thumbnail" src="/img/ojt3.jpg"style="width: 300px; height: 200px;" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact"></div>
    <div class="contact d-flex justify-content-center align-items-center">
        <div class="container text-white">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fas fa-paper-plane"></i> kennethtan1414@gmail.com</p>
                    <p><i class="fas fa-phone-square-alt"></i> +63 997 496 0017</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100081726632586"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/Kenneth70660603"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://github.com/kt1422"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/kenneth-tan-a0a8a214a/"><i class="fab fa-linkedin"></i></a>
                    </div>
                    <a href="img/cv-kennethtan.pdf" download class="btn btn2">Download CV</a>
                </div>
                <div class="contact-right">
                    <form class="mb-3" name="submit-to-google-sheet">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your email" required>
                        <textarea name="message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                    <span class="text-warning" id="msg"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/modal-lee.ejs') %>
<%- include('./partials/modal-thesis.ejs') %>
<%- include('./partials/modal-ojt.ejs') %>
<%- include('./partials/foot.ejs') %>